@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'HELVETICA';
  src: local('./public/Helvetica Neue Condensed Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed; */
/* } */
